

<div class="main">
	<h1>Maana Wordcount Project</h1>

	<div class="files">
		<h3>File Path:</h3>
		<form action='/' method='post'>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input type="Text" name="path_name">
			<p><input type="submit"></p>
		</form>
	</div>
</div>

<div><%= render "graph" %></div>
